
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="mt-5 heading">Order Successfully Placed</h3>
<img class="mb-5" src="~/Web Images/success.gif" />
<h4 class="mb-5 heading">Thanks For Purchase</h4>

<style>
    body{
        text-align:center;
        align-items:center;
    }
</style>